$button-color-bg: #3a68b8;
$txt-clr: #ffffff;

* {
    margin: 0;
    padding: 0;
    outline: none;
    box-sizing: border-box;
    text-decoration: none;
  }
  
  body {
    background-color: #020a18;
  }
  
  .header {
    background-color: #0a121f;
    height: 100px;
    margin-bottom: 160px;
  }
  
  .header-menu {
    display: flex;
    justify-content: center;
  }

  .container {
    margin: 0 auto;
    width: 1146px;
  }
  
  .content {
    display: flex;
    align-items: center;
  }
  
  @mixin txt-open-sans ($fw, $fs, $lh, $fc) {
    font-family: "Open Sans";
    font-style: normal;
    font-weight: $fw;
    font-size: $fs;
    line-height: $lh;
    color: $fc;
}

  .menu_link {
    @include txt-open-sans(600, 16px, 100%, $txt-clr);
    padding: 40px 20px;
    
  }

  .menu_link:hover {
    background-color: $button-color-bg;
    border-radius: 10px;
    
  }
  
  .mini-header_cont {
    @include txt-open-sans(600, 16px, 160%, #3a68b8);
    text-transform: uppercase;
    margin-bottom: 10px;
  }
  
  .header-cont {
    @include txt-open-sans(800, 55px, 130%, $txt-clr);
    margin-bottom: 40px;
  }
  
  .par-cont {
    width: 558px;
    @include txt-open-sans(600, 18px, 160%, $txt-clr);
    opacity: 0.7;
    margin-bottom: 50px;
  }
  
 
  .button {
      padding: 15px 30px;
      margin-right: 20px;
      background: $button-color-bg;
      border-radius: 5px;
      @include txt-open-sans(600, 20px, 27px, $txt-clr);
      &_hover:hover {
        color: #3a68b8;
        background-color: #fff;
      }
    }

  .bar {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center;
    gap: 22px;
    padding-top: 200px;
    padding-bottom: 100px;
  }
  
  .flex_box {
    display: flex;
    justify-content: space-between;
  }
  
  .content_left {
    width: 605px;
  }
  
  .first_middle_header {
    margin-top: 117px;
    margin-bottom: 30px;
    @include txt-open-sans(700, 40px, 130%, $txt-clr);
  }
  
  .first_middle_cont {
    width: 460px;
    margin-bottom: 50px;
    @include txt-open-sans(600, 16px, 160%, $txt-clr);
    opacity: 0.7;
  }
  
  .middle_button {
    font-size: 16px;
    line-height: 22px;
  }
 
  .first_middle {
    margin-top: 157px;
    margin-bottom: 264px;
  }
  
  .first_middle_right {
    width: 485px;
  }
  
.txt-cntr-opc {
  text-align: center;
  opacity: 0.7;
}

  .item_head {
    margin: 30px;
    @include txt-open-sans(700, 25px, 125%, $txt-clr);
    @extend .txt-cntr-opc;
  }
  
  .item_cont {
    margin: 0 30px 30px 30px;
    @include txt-open-sans(600, 16px, 160%, $txt-clr);
    @extend .txt-cntr-opc;
  }
  
  .item_icon {
    margin: 30px 132px 0px;
  }
  
.color-rad {
  border-radius: 10px;
  background-color: #132035;
}

  .item {
    width: 362px;
    @extend .color-rad;
  }
  
  .bottom_table {
    margin-top: 30px;
    margin-bottom: 243px;
  }
  .big {
    width: 754px;
    @extend .color-rad;
  }
  .big_icon {
    width: 306px;
    height: 322px;
    margin: 30px 224px 0px;
  }
  .item_head_big {
    margin: 60px 30px;
    @include txt-open-sans(700, 25px, 125%, $txt-clr);
    @extend .txt-cntr-opc;
  }
  
  .item_cont_big {
    margin: 0px 30px 144px;
    @include txt-open-sans(600, 16px, 160%, $txt-clr);
    @extend .txt-cntr-opc;
  }
  
  .bottom_table_right {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
  }
  
  .second_middle {
    margin-bottom: 235px;
  }
  .second_middle_left {
    width: 548px;
  }
  .second_middle_header {
    margin-top: 14px;
    margin-bottom: 40px;
    @include txt-open-sans(700, 40px, 130%, $txt-clr);
  }
  
  .second_middle_cont {
    margin-bottom: 20px;
    width: 460px;
    @include txt-open-sans(600, 16px, 160%, $txt-clr);
    opacity: 0.7;
  }
  .par_bottom {
    margin-bottom: 14px;
  }
  
  footer {
    background-color: #060e1c;
  }
  
  .foot_item {
    width: 362px;
  }
  @mixin txt-roboto ($fw, $fs, $lh, $fc) {
    font-family: "Roboto";
    font-style: normal;
    font-weight: $fw;
    font-size: $fs;
    line-height: $lh;
    color: $fc;
}

  .foot_head {
    margin-top: 48px;
    margin-bottom: 33px;
    @include txt-roboto(500, 16px, 19px, $txt-clr);
  }
  
  .first_foot_iten,
  .foot_item_right_up {
    margin-bottom: 25px;
    @include txt-roboto(500, 14px, 16px, $txt-clr);
  }
  
  .foot_item_middle {
    width: 261px;
    @include txt-roboto(100, 14px, 16px, $txt-clr);
    font-style: italic;
    opacity: 0.6;
  }
  
  .foot_bottom {
    margin-bottom: 51px;
  }
  
  .fa,
  .fas {
    margin-right: 10px;
    @include txt-roboto(500, 14px, 16px, $txt-clr);
  }